<div class="container">
  <div class="row">

  <div class="col-lg-4">
  <%= render 'currentuser' %>
  <%= render 'books/create' %>
  </div>

<div class="col-lg-8">
<table class="table table-bordered">
<h2>Users</h2>
<thead>
 <td>Name</td>
 <td>Introduction</td>
</thead>
<% @users.each do |user| %>
<tbody>
 <div class="row">
 <td>
<%= link_to user_path(user.id) do %>
<%= image_tag user.get_profile_image(100,100) %>
<%= user.name %>
<% end %>
</td>
<td><%= user.introduction %></td>
<% end %>
</div>
</tbody>
</table>
</div>

</div>
</div>