<div class="container">
  <div class="row">

  <div class="col-lg-4">

   <%= render 'users/currentuser' %>
   <%= render 'create' %>

  </div>

<div class="col-lg-8">
<table class="table table-bordered">
<h2>Books</h2>
<thead>
<tr>
<th>Auther</th>
<th>Title</th>
<th>Opinion</th>
</tr>
</thead>

<tbody>
<% @books.each do |book| %>
 <div class="row">
 <td>
  <%= link_to user_path(book.user) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  </td>
  <td><%= link_to book.title, book_path(book.id) %></td>
  <td><%= book.body %></td>
<% end %>
</table>
</div>
</div>
</div>
</div>