 <h2>User info</h2>
 <div class = "row">
  <div class="col-lg-8">
<table class="table table-striped">
   <%= image_tag @book.user.get_profile_image(100,100) %>
   <p>name</p>
   <p><%= @book.user.name %></p>
   <p>introduction</p>
   <p><%= @book.user.introduction %></p>
   <div>
  <%= link_to 'edit', edit_user_path(current_user.id) %>
  </div>
</table>
</div>
</div>

  <h2>New book</h2>
  <%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <div class>
   <%= f.text_field :title %>
   </div>
  <p>Opinion</p>
   <div>
   <%= f.text_area :body, size: "20" %>
  </div>
  <div>
  <%= f.submit 'Create Book', class: "btn btn-info" %>
  </div>
   <% end %>
  </div>

<h2>Book detail</h2>
<div class = "row">
  <div class="col-lg-8">
<table class="table table-striped">

  <%= link_to user_path(@book.user) do %>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <% end %>

  <p>Title</p>
  <%= link_to @book.title, book_path(@book.id) %>
  <p>Opinion</p>
  <span><%= @book.body %></span>
</table>
</div>
</div>

<% if @book.user == current_user %>
 <%= link_to "削除", book_path(@book), method: :delete %>
<% end %>